link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" href="card.css")
script(src="move.min.js")
script(src="Deck.js")
script(src="Hand.js")
script(src="Card.js")
script(src="Dealer.js")
script(src="Player.js")
script(src="GameLogic.js")
.container
    .game
        .hand.dealer Dealer Hand is here
        .hand.player Player Hand is here
        .deck

        //.card(style="position:absolute;top:30vh;left:45vw;")
        //    .front.spades1
        //        .face
        //        .topleft A
        //        .bottomright A
        //.card(style="position:absolute;top:55vh;left:45vw;")
        //    .back.spades1
        //        .face
        //        .topleft A
        //        .bottomright A
    .hud
        .player-money
            .show-money $1000
            .row
                .place-bet Bet how much?
                input.bet
        .player-options
            .hit HIT
            .stay STAY