body {
    background: #228b22;
    position: relative;
}

.spacer {
    height: 5vh;
}

.container {
    width: 400px;
    position: relative;
    padding-top: 2%;
    background: #efefef;
    border: 5px outset rbg(255, 255, 255, .1);
    min-height: 400px;
    text-align: center;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.6);
}

.box {
    text-align: left;
    margin: auto;
    width: 75%;
    position: relative;
    padding: 0 3% 3%;
}

#starting:disabled {
    color: cadetblue;
}

.title {
    letter-spacing: 1.2rem;
    margin: 2.5vh auto;
}

input[type=button] {
    margin: 0 10px;
}

input[type=number] {
    width: 50px;
}

.buttons {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.score-container {
    display: flex;
    justify-content: space-between;
}

/*.score {*/
    /*float: right;*/
/*}*/