body {
    background: #228b22;
    position: relative;
}

.container {
    width: 400px;
    position: relative;
    margin: 40px auto;
    background: #efefef;
    border: 1px solid black;
    min-height: 400px;
    text-align: center;
}

.box {
    text-align: left;
    margin: auto;
    width: 315px;
    position: relative;
}

input[type=button] {
    margin: 0 10px;
}

input[type=number] {
    width: 50px;
}

.buttons {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}